## Dealing with missing values

In [1]:
import numpy as np
import pandas as pd

In [2]:
df =  pd.DataFrame({
 'A' : [1  , 2 , np.nan , 3 , np.nan],
 'B' : [5, np.nan, np.nan, 3, 2],
 'C' : [1, 2, 3, np.nan, 5 ]
})


df

     A    B    C
0  1.0  5.0  1.0
1  2.0  NaN  2.0
2  NaN  NaN  3.0
3  3.0  3.0  NaN
4  NaN  2.0  5.0

In [3]:
df.isnull().sum()

A    2
B    2
C    1
dtype: int64

In [4]:
# filling with mean

df.mean()

A    2.000000
B    3.333333
C    2.750000
dtype: float64

In [5]:
df_with_mean = df.fillna( df.mean() )

df_with_mean

     A         B     C
0  1.0  5.000000  1.00
1  2.0  3.333333  2.00
2  2.0  3.333333  3.00
3  3.0  3.000000  2.75
4  2.0  2.000000  5.00

In [6]:
# filling using forward fill -  replace value using last know value 


df_with_ff =  df.fillna( method='ffill')

df_with_ff

     A    B    C
0  1.0  5.0  1.0
1  2.0  5.0  2.0
2  2.0  5.0  3.0
3  3.0  3.0  3.0
4  3.0  2.0  5.0

In [7]:
# filling by dropping the missing rows

df_with_drop = df.dropna()

df_with_drop

     A    B    C
0  1.0  5.0  1.0

In [8]:
df_with_val =  df.fillna( value = 0)

df_with_val

     A    B    C
0  1.0  5.0  1.0
1  2.0  0.0  2.0
2  0.0  0.0  3.0
3  3.0  3.0  0.0
4  0.0  2.0  5.0

In [9]:
testing = df.fillna( df.median())

testing

     A    B    C
0  1.0  5.0  1.0
1  2.0  3.0  2.0
2  2.0  3.0  3.0
3  3.0  3.0  2.5
4  2.0  2.0  5.0