# Categorical to numeric data

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder , OneHotEncoder , OrdinalEncoder

In [2]:
"""

Types of qualitative data


ordinal - Variables with no inherent order or ranking

Categorical - veariables within an ordered series e.g performance , rating

Binary - True or False - only two possible states

"""

'\n\nTypes of qualitative data\n\n\nordinal - Variables with no inherent order or ranking\n\nCategorical - veariables within an ordered series e.g performance , rating\n\nBinary - True or False - only two possible states\n\n'

In [3]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'red', 'blue'],
    'size': ['small', 'medium', 'large', 'medium', 'small'],
    'category': ['A', 'B', 'A', 'C', 'B']
})

### using Label encoder

In [4]:
# label encoding - Assigns a unique integer to each category

le = LabelEncoder()
df['color'] = le.fit_transform( df['color'])
df

   color    size category
0      2   small        A
1      0  medium        B
2      1   large        A
3      2  medium        C
4      0   small        B

### One hot encoding

In [5]:
# one hot encoding - creates binary column for each category

df_onehot = pd.get_dummies( df , columns= ['size'] , prefix='size')

df_onehot

   color category  size_large  size_medium  size_small
0      2        A           0            0           1
1      0        B           0            1           0
2      1        A           1            0           0
3      2        C           0            1           0
4      0        B           0            0           1

In [6]:
d = df.copy()

onehot = OneHotEncoder(sparse_output=False)


encoded = onehot.fit_transform( d[['size']] )

feature_names = onehot.get_feature_names_out(['size'])


one_hot_df = pd.DataFrame(encoded , columns= [f'siz_{i}' for i in feature_names])


df_with_onehot_sklearn = pd.concat( [ d ,  one_hot_df] ,  axis= 1 )

df_with_onehot_sklearn

   color    size category  siz_size_large  siz_size_medium  siz_size_small
0      2   small        A             0.0              0.0             1.0
1      0  medium        B             0.0              1.0             0.0
2      1   large        A             1.0              0.0             0.0
3      2  medium        C             0.0              1.0             0.0
4      0   small        B             0.0              0.0             1.0

#### Ordinal Encoding

In [7]:
# ordinal encoding

size_order = {
 'small' :  1,
 'medium' : 2,
 'large' : 3
}


df['size_oridnal_encoding_1'] = df['size'].map(size_order)

df.head()

   color    size category  size_oridnal_encoding_1
0      2   small        A                        1
1      0  medium        B                        2
2      1   large        A                        3
3      2  medium        C                        2
4      0   small        B                        1